<!-- your html code here -->
<div class="container">
    <div class="row d-flex justify-content-start">
        <img src="../assets/img/2.jpg" class="col-3 rounded-circle p-0"  alt="..."> 
        <div class="col-9 p-0">
            <h1>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span> </h1>
            <P>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                Fusce dapibus, Tellus ac cursus conmmodo.
            </P>
        </div>
    </div>



