<!-- your html code here -->
<div class="row">
    <img src="https://github.com/Diegoarraez10/exercise-collaborative-html-website/blob/14cf42841041b1ceeba4151cb7900adc031b0890/website/assets/img/2.jpg" class="col-3 rounded-circle"  alt="..."> 
    <div class="col-9">
        <h1>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span> </h1>
        <P>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
            euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
            Fusce dapibus, Tellus ac cursus conmmodo.
        </P>
    </div>
</div>




